<div class="container mt-5">
   <div class="row">
      <div class="card p-3 mb-3">
         <% if(post.image) { %>
         <div class="rounded" style="max-height:300px;overflow:hidden;">
            <img class="card-img-top" style="object-fit:contain;" src="/img/posts/<%= post.image %>"
               alt="<%= post.title %>">
         </div>
         <% } %>
         <div class="card-body px-0">
            <h2 class="card-title mb-3"><%= post.title %></h2>
            <div class="text-muted mb-3">
               <div>
                  <span>created: <%= moment(post.createdAt).fromNow() %> |</span>
                  <span>updated: <%= moment(post.updatedAt).fromNow() %> |</span>
                  <span>author: <a href="/profile/<%= post.user.username %>"><%= post.user.username %></a></span>
               </div>
            </div>
            <% if (typeof locals.user !== 'undefined' && post.user.id == locals.user.id) { %>
            <div class="mb-3 text-center d-flex">
               <a class="btn btn-primary" href="/posts_edit/<%= post.id %>/">Edit</a>
               <a class="btn btn-danger mx-2" href="#" onclick="deletePost(event)">Delete</a>
               <form id="delete_form" action="/posts_delete/<%= post.id %>" method="post">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
               </form>
            </div>
            <% } %>
            <p class="card-text"><%- post.body %></p>
         </div>
      </div>
   </div>
</div>

<script>
   function deletePost(event) {
      event.preventDefault();
      let accept = confirm("Are you sure?");
      if (accept) {
         document.getElementById("delete_form").submit();
      }
   }
</script>